@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Roboto.woff2") format(woff2),
         url("../fonts/Roboto.woff") format(woff);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/RobotoMedium.woff2") format(woff2),
         url("../fonts/RobotoMedium.woff") format(woff);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/RobotoBold.woff2") format(woff2),
         url("../fonts/RobotoBold.woff") format(woff);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

a {
  text-decoration: none;
}

.header {
  background-color: #eeeeee;
}

.navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.navigation-list,
.busket {
  font-weight: 700;
  list-style: none;
  text-transform: uppercase;
}

.navigation-list a,
.busket a {
  color: #000000;
}

.navigation-list a:hover,
.navigation-list a:focus,
.busket a:hover,
.busket a:focus {
  color: #fb565a;
}

.navigation-list a:active,
.busket a:active {
  text-decoration: underline;
  text-decoration-color: #f7988b;
}

.slider-list a {
  text-transform: uppercase;
}

.slider-list {
  list-style: none;
  background-color: #eeeeee;
}

.slider-dots {
  list-style: none;
}

.slider-list b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  /* color: #ffffff; */
}

.services-list {
  list-style: none;
}

.services-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.studio h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.studio b {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.table-percent {
  font-size: 45px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.table-feature {
  font-size: 16px;
  line-height: 18px;
}

.partners-logo-list {
  list-style: none;
}

.map-navigation h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.number a {
  color: inherit;
}

.write-us a {
  text-transform: uppercase;
}

.social-web-list {
  list-style: none;
}

.modal span {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

/* .modal-form input:hover,
.modal-form textarea:hover {
  border-color: #000000;
  border-width: 2px;
} */

.social-web b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-web p {
  font-size: 16px;
  line-height: 22px;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.filter-form p {
  font-size: 16px;
  line-height: 22px;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  color: #283136;
}

.sort li {
  list-style: none;
}

.filter-list li {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}

.catalog h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.catalog p {
  font-size: 16px;
  line-height: 18px;
}

.catalog-list li {
  list-style: none;
}

.page-list li {
  list-style: none;
}

.page-list a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
