@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Roboto.woff2") format("woff2"),
         url("../fonts/Roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/RobotoMedium.woff2") format("woff2"),
         url("../fonts/RobotoMedium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/RobotoBold.woff2") format("woff2"),
         url("../fonts/RobotoBold.woff") format("woff");
}

img {
  max-width: 100%; height: auto;
}

/* body > * {
  background-color: rgba(255, 0, 0, 0.5);
}

body > * > * {
  background-color: rgba(255, 255, 0, 0.5);
}

body > * > * > * {
  background-color: rgba(255, 255, 255, 0.5);
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #eeeeee;
  padding-top: 45px;
  padding-bottom: 15px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  width: 160px;
  height: 65px;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.navigation-list {
  list-style: none;
  padding: 0 15px;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-list li {
  margin-right: 45px;
}

.navigation-link {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;

  display: block;
  padding: 8px 0;
}

.navigation-link-current {
  border-bottom: 2px solid #fb565a;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #fb565a;
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}


.slider {
  width: 100%;
  background-color: #eee;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-list a {
  text-transform: uppercase;
}

.slider-list,
.slider-dots {
  list-style: none;
}

.slider-list b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  /* color: #ffffff; */
}


.services-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.studio-headline {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.studio b {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.table-percent {
  font-size: 45px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.table-feature {
  font-size: 16px;
  line-height: 18px;
}

.partners-logo-list {
  list-style: none;
}

.map-navigation {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

/* .map-navigation-wrapper {
  width: 100%;
} */

/* .map-navigation-wrapper img {

} */

.contacts {
  width: 319px;
  height: 308px;
  background-color: #fff;

  position: absolute;
  top: 54px;
  left: 140px;
  text-align: center;
}

.contacts-wrapper {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.number a {
  color: inherit;
}

.write-us a {
  text-transform: uppercase;
}

.social-web-list {
  list-style: none;
  display: flex;
}

.modal span {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal-field {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.social-web b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-web p {
  font-size: 16px;
  line-height: 22px;
}

.catalog-headline {
  text-align: center;
  background-color: #eee;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter option {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.filter-form p {
  font-size: 16px;
  line-height: 22px;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  color: #283136;
}

.sort li {
  list-style: none;
}

.filter-list li {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}

.catalog h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.catalog-item {
  text-align: center;
}

.catalog p {
  font-size: 16px;
  line-height: 18px;
}

.catalog-list li,
.page-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-list a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

.services-item:last-child  {
  margin: 0;
}

.services-item  h3 {
  margin: 0;
  margin-bottom: 26px;
  padding-top: 172px;
  position: relative;
}

.services-item h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-item-web h3::before {
  background-image: url(../img/illustration-1.jpg);
}

.services-item-apps h3::before {
  background-image: url(../img/illustration-2.jpg);
}

.services-item-presentation h3::before {
  background-image: url(../img/illustration-3.jpg);
}

.studio-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 160px;
  height: 528px;
  justify-content: space-between;
  border-color: #f4f4f4 transparent #f4f4f4 transparent ;
  border-style: solid;
}

.studio-block-left {
  width: 660px;
  padding-top: 60px;
}

.studio-block-right {
  width: 360px;
  margin: 0;
  margin-bottom: 26px;
  padding-top: 289px;
  position: relative;
}

.studio-block-right::before {
  content: "";
  position: absolute;
  top: 41px;
  right: 0;
  display: block;
  width: 360px;
  height: 208px;
  background-image: url(../img/nerds-illustration.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.partners-logo-list {
  display: flex;
  justify-content: space-between;
  height: 185px;
  align-items: center;
  border-color: transparent transparent #f4f4f4 transparent;
  border-style: solid;
  margin-bottom: 82px;
}

/* .modal {
  position: absolute;
  width: 960px;
  height: 600px;
  background-color: #fff;
} */

.social {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  width: 260px;
  padding-right: 140px;
}

.catalog-colums {
  display: flex;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  /* width: 760px; */
  justify-content: space-between;
}


.sort-list:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.page-list {
  display: flex;
}

.page-button {
  text-align: center;
  background-color: #eee;
  margin-right: 11px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.page-button-next {
  background-color: #eee;
  width: 260px;
  height: 50px;
}
